<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.tafreshiali.whyoogle_ads">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
       <!-- <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7289139744252145~6031232285" />-->
    </application>
</manifest>